/* reset styles */
* {
  margin: 0;
  padding: 0;
}

/* general styles for entire body */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* header sizes, weights and colours */
h1 {
  font-size: 35px;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  color: #a1a1a3;
}

h3 {
  font-size: 20px;
  color: #735280;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}


h1,
h2 {
  font-weight: 300;
}

h3,
h4,
h5 {
  font-weight: 200;
}

/* general styles for paragraphs and links */
p,
a {
  font-size: 15px;
  font-weight: 300;
}

/* header styles */
.logo {
  font-size: 35px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.logo-img {
  min-width: 45px;
}

.page-title {
  text-align: right;
}

.page-title-name {
  margin-bottom: 0.3em;
}

.page-subtitle {
  font-size: 18px;
  font-weight: 200;
}

/* article styles */
article {
  margin-bottom: 10px;
}

/* showcase styles */
.showcase-title {
  margin: 10px 0;
}

.showcase-img {
  border: 1px solid #000;
}

.item-title {
  text-align: center;
}

.item-description {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-see-more {
  color: #337ab7;
}

.item-see-more:hover {
  text-decoration: underline;
}

/* modal styles */
.close {
  float: right;
}

.modal-title {
  float: left;
}

.modal-header {
  width: 100%;
}

.modal-header:after {
  clear: both;
}

.item-description-modal {
  font-size: 15px;
  margin-top: 0.67em;
}

.item-link,
.item-link-modal {
  text-align: left;
}

/*footer styles */
footer {
  font-size: 15px;
  padding-bottom: 0.67em;
}

.social-media-icons li {
  float: left;
  list-style-type: none;
}

.social-media-icons:after {
  clear: both;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

[class*="zocial-"]:hover {
  text-decoration: none;
}
