/* import zocial for social media buttons */
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* reset styles */
* {
  margin: 0;
  padding: 0;
}
/* general styles for entire body */

body {
  font-family: Roboto, sans-serif;
}

/* make sure every image on the page is displayed at max 100% */

img {
  max-width: 100%;
}

/* header sizes, weights and colours */

h1 {
  font-weight: 300;
  font-size: 35px;
  text-transform: uppercase; }

h2 {
  font-weight: 300;
  font-size: 25px;
  color: #a1a1a3; }

h3 {
  font-weight: 200;
  font-size: 20px;
  color: #735280; }

h4 {
  font-weight: 200;
  font-size: 18px;
}

h5 {
  font-weight: 200;
  font-size: 14px;
  margin: 0;
}

/* general styles for paragraphs */

p {
  font-size: 15px;
  font-weight: 300;
}

/* my styles to add to bootstrap */
article {
  margin-bottom: 10px;
}

.page-title {
  text-align: right;
}

.page-title-name {
  margin-bottom: 0.3em;
}

.logo {
  font-size: 35px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.showcase-title {
  margin: 10px 0;
}

.showcase-item img {
  border: 1px solid #000;
}

.item-title {
  text-align: center;
}

.item-description {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-media-icons li {
  float: left;
  list-style-type: none;
}
.social-media-icons:after {
  clear: both;
}

.item-description-modal {
  font-size: 15px;
  margin-top: 0.67em;
}

.item-link-modal {
  text-align: left;
}

.close {
  float: right;
}
.modal-title {
  float: left;
}
.modal-header {
  width: 100%;
}

.modal-header:after {
  clear:both;
}

footer {
  font-size: 15px;
  padding-bottom: .67em;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
